<section class="edit-form-container">

  <form method="POST">
    <h3>Edit Book Review</h3>
    <label>Title</label>
    <input type="text" name="title" class="box" value="{{book.title}}" id="">
    <label>Author</label>
    <input type="text" name="author" class="box" value="{{book.author}}" id="">
    <label>Genre</label>
    <input type="text" name="genre" class="box" value="{{book.genre}}" id="">
    <label>Stars</label>
    <input type="number" name="stars" class="box" value="{{book.stars}}" id="">
    <label>Image</label>
    <input type="text" name="image" class="box" value="{{book.image}}" id="">
    <label>Review</label>
    <textarea class="box" name="bookReview">{{book.bookReview}}</textarea>
    <input type="submit" value="Edit" class="btn">
  </form>
</section>