<main id="edit">
  <!-- In case of error, you should display div with class "errorContainer" -->
  <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

  <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

  {{#if error}}
  <div>
    <div class="errorContainer">
      <p>{{error}}</p>
    </div>
  </div>
  {{/if}}

  <section id="edit-container">
    <div class="edit-container-info">
      <h1>Edit Game Code Offer</h1>
      <form method="POST">
        <label>Platform:</label>
        <select id="platform" name="">
          {{{options}}}
        </select>
        <label>Name:</label>
        <input type="text" id="name" name="name" value="{{game.name}}">
        <label>Image:</label>
        <input type="text" id="image" name="image"
          placeholder="https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/dR9KJAKDW2izPbptHQbh3rnj.png"
          value="{{game.image}}">
        <label>Price:</label>
        <input type="number" id="price" name="price" value="{{game.price}}">
        <label>Genre:</label>
        <input type="text" id="genre" name="genre" value="{{game.genre}}">
        <label>Description:</label>
        <textarea id="description" name="description">{{game.description}}
                    </textarea>
        <input type="submit" id="btn" value="EDIT"></input>
      </form>
    </div>
  </section>
</main>