<section id='editPage'>
  <form id='editForm' method='POST'>
    <label for='name'>Name:</label>
    <input type='text' id='name' name='name' value='{{electronics.name}}' />

    <label for='type'>Type:</label>
    <input type='text' id='type' name='type' value='{{electronics.type}}' />

    <label for='production'>Year of Production:</label>
    <input type='number' id='production' name='production' value='{{electronics.production}}' />

    <label for='exploitation'>Years of Exploitation:</label>
    <input type='number' id='exploitation' name='exploitation' value='{{electronics.exploitation}}' />

    <label for='damages'>Damages:</label>
    <input type='text' id='damages' name='damages' value='{{electronics.damages}}' />

    <label for='image'>Image:</label>
    <input type='text' id='image' name='image' value='{{electronics.image}}' />

    <label for='price'>Price:</label>
    <input type='number' id='price' name='price' value='{{electronics.price}}' />

    <label for='description'>Description:</label>
    <input type='text' id='description' name='description' value='{{electronics.description}}' />

    <input type='submit' class='edit' value='Edit Offer' />
  </form>
</section>