<section class='search'>
  <h1>Search</h1>

  <form class='search-form' method='POST'>
    <input type='text' class='search-name' name='name' value='{{body.name}}' placeholder='Search Name...' />
    <input type='text' class='search-type' name='type' value='{{body.type}}' placeholder='Search Type...' />
    <button type='submit' class='btn-search'>Search</button>
  </form>

  <!--If there are matches after search-->
  <div class='search-result'>
    {{#if electronics}}
      {{#each electronics}}
        <div class='search-list'>
          <a href='/catalog/{{_id}}/details' class='added-electronics-in-market'>
            <img src='{{image}}' class='picture-added-electronics' />
            <h3>{{name}}</h3>
            <span>Price: ${{price}}</span>
          </a>
        </div>
      {{/each}}

    {{else}}
      <div class='no-match'>
        <p>No match was found!</p>
      </div>
    {{/if}}
  </div>

  <!--If there are no matches-->
  <!-- <div class="no-match">
                <p>No match was found!</p>
            </div> -->
</section>